body{
/* color de fondo*/
background-color: #2f2f4d;
/*color de texto*/
color: #e8d18e;
/*Tamaño de fuente*/
font-size: 24px;
/*Alinear el Texto*/
text-align: justify;
margin: 20px;
padding: 30px;
}

h1{
color: #bab195;
text-align: center;
margin-bottom: 20px;
}

h5{
color: #11091a;
}

.espacio{
margin-top: 30px;
margin-bottom: 20px;/*Añade un margen inferior de 20px*/
}

.card-text{
color: #626970;
}

.card-body{
background-color: #e8d18e;
}

.card-link{
color: #11091a;
font-size: 16px;
}

.list-group-item{
color: #11091a;
}
